---
Language: Cpp
BasedOnStyle: LLVM
SortIncludes: false
AccessModifierOffset: -2
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 125
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
ExperimentalAutoDetectBinPacking: false
IndentCaseLabels: false
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
Standard: Cpp11
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
...
