[Unit]
Description=Default wired connection

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sudo /bin/bash /home/nao/bin/wired.sh start
ExecStop=/usr/bin/sudo /bin/bash /home/nao/bin/wired.sh stop

[Install]
WantedBy=default.target
