[Unit]
Description=Mount
Before=nomadz.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo /bin/bash /home/nao/bin/load_configs_from_usb.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
